.container {
    margin-bottom: 80px;
}

.order {
    margin-left: 5px;
    background-image: linear-gradient(rgb(72, 184, 218), rgb(48, 119, 218));
}

.price {
    color: rgb(235, 25, 25);
}

.carousel-inner {
    background-color: rgb(247, 247, 245);
    padding: 20px 30px;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 30px;
}

.cat1 {
    background-image: linear-gradient(red, rgb(222, 121, 20));
}

.cat2 {
    background-image: linear-gradient(rgb(30, 91, 197), rgb(114, 145, 207));
}

.cat3 {
    background-image: linear-gradient(rgb(17, 174, 150), rgb(57, 192, 54));
}

.row h1 {
    padding: 5px 10px;
}

.categories h1 {
    color: aliceblue;
}

.categories img {
    width: 50%;
}

.d-flex {
    border-radius: 5px;
}

footer {
    margin-left: 10px;
}

.card1 img {
    width: 80%;
}